#container {
    box-shadow: 5px 5px 5px rgba(8, 0, 0, 0.1);
    width: 400px;
    margin: 100px auto;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: white;
    height: 40px;
    line-height: 40px; 
    color: black;
}

li:nth-child(2n) {
    color: white;
    background:black;
}

input {
    font-size: 18px;
    background: #f7f7f7;
    color: black;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    border: rgba(1,0,0,0);
}

input:focus {
    background: rgb(203, 200, 214);
    border: 3px solid #dadae2;
    outline: none;
}

h1 {
    background: #5b5999;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #003973;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fa-plus-square {
    float:right;
    transition: 0.2s linear;
}

.fa-plus-square:hover {
    color: black;
}

span {
    background: rgb(184, 15, 15);
    color: white;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}